{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      {{log data}}
      <div class="flexrow">
        <label for="data.rank">Ranks</label>
        <input type="text" name="data.rank" value="{{data.rank}}" data-dtype="Number" />
      </div>
      <div class="flexrow">
        <label for="data.baseCost">Base Cost per Rank</label>
        <input type="text" name="data.baseCost" value="{{data.baseCost}}" data-dtype="Number" />
      </div>
      <label for="data.extrasRankCost">Extras</label>
      <div class="flexrow">
        <label for="data.extrasRankCost"> Cost per Rank</label>
        <input type="text" name="data.extrasRankCost" value="{{data.extrasRankCost}}" data-dtype="Number" />
      </div>
      <div class="flexrow">
        <label for="data.extrasFlatCost"> Flat Cost</label>
        <input type="text" name="data.extrasFlatCost" value="{{data.extrasFlatCost}}" data-dtype="Number" />
      </div>
      <label for="data.extrasRankCost">Flaws</label>
      <div class="flexrow">
        <label for="data.flawsRankCost">  Cost per Rank</label>
        <input type="text" name="data.flawsRankCost" value="{{data.flawsRankCost}}" data-dtype="Number" />
      </div>
      <div class="flexrow">
        <label for="data.flawsFlatCost">  Flat Cost</label>
        <input type="text" name="data.flawsFlatCost" value="{{data.flawsFlatCost}}" data-dtype="Number" />
      </div>
      <div class="flexrow">
        <label for="data.overrideCost">Override Cost</label>
        <input type="text" name="data.overrideCost" value="{{data.overrideCost}}" data-dtype="Number" />
      </div>
      <div class="flexrow">
        <label for="data.cost">Final Cost</label>
        <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" readonly/>
      </div>
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/mnm3e/templates/item/parts/item-effects.html"}}
    </div>
  </section>
</form>
